.container {
  display: flex;
  padding: 20px;
  margin: auto;
  width: 80%;
  border-radius: 5px;
  gap: 10px;
}
.box {
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}

.input {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  background-color: #3ba53f;
  color: white;
  border: none;
  padding: 10px 0px;
  width: 80%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  background-color: #007704;
}

.add_description_button {
  background-color: #d4c6fc;
  border: none;
  padding: 10px 0px;
  width: 80%;
  margin: 5px 0px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
}
.add_description_button:hover {
    background-color: #a485f7;
}

.description_input {
    margin-bottom: 1px;
    padding: 8px;
    width: 100%;
    border: 1px solid #7c4545;
    border-radius: 0px;
}

.checkbox_label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
}

.checkbox_input {
  margin-right: 6px;
}
  
.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  margin: 8px;
  width: 300px;
  background-color: #f8f8f8;
  box-shadow: 0px 4px 10px rgba(66, 0, 0, 0.445);
}

.colorList {
  list-style-type: none;
  display: flex;
  gap: 4px;
  margin: 0;
  padding: 5px 0 10px 0;
}

.colorItem {
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  border-radius: 50%;
}

.popup{
  display: flex;
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  gap: 10px;
}