.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.carItem {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  width: 80%;
  margin: 20px;
  box-shadow: 0px 4px 10px rgba(66, 0, 0, 0.445);
}

.carImageContainer {
  flex: 0 0 40%;
  position: relative;
}


.carImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.carDetails {
  flex: 1;
  background-color: #f9f9f9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.specs {
  background-color: #f9f9f9;
  height: 100%;
  color: #333;
}

.title {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.descriptionList {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.descriptionList li, .carDetails li {
  color: #666;
  margin-bottom: 5px;
}

.colorList {
  list-style-type: none;
  display: flex;
  gap: 4px;
  margin: 0;
  padding: 5px 0 10px 0;
}

.colorItem {
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  border-radius: 50%;
}

.delete_button, .edit_button {
    border: none;
    padding: 10px 0px;
    width: 40%;
    font-weight: 700;
    margin: 5px;
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
}
.delete_button:hover {
    background-color: #e40000;
}
.delete_button{
    background-color: #ff3c00;
}
.edit_button{
    background-color: #81c2ff;
}
.edit_button:hover {
    background-color: #369bfa;
}
.middle, .left {
  background-color: #f9f9f9;
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left {
  background-color: #f9f9f9;
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.show {
  display: flex;
  position: fixed;
  border-radius: 5px;
  width: 80%;
  top: 54%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: #e8e3eb;
  box-shadow: 0px 4px 10px rgba(22, 0, 0, 0.4);
}

.hide {
  display: none;
  position: fixed;
}
.close{
  background-color: black;
  border-start-end-radius: 5px;
  color: wheat;
  height: 20px;
  padding: 15px;
  cursor: pointer;
}
.close:hover{
  background-color: #7e0000;
}
  @media (max-width: 768px) {
    .carItem {
      flex-direction: column;
    }
  
    .carImageContainer {
      flex: 1;
      height: 200px;
      order: 2;
    }
  
    .carDetails {
      flex: 1;
      order: 1;
    }
  }
  