.inputBox{
    padding: 5px 50px;
    display: flex;
}
.input{
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin: 10px 50px;
  }